body {
	background-image:url(https://etapes.com/app/uploads/2019/08/MeanderingRiver01_detail01.jpg); 
	
	}

h1 {
	font-family: cursive;
	margin: 10px;
	text-align:center;
	color: aqua ;
}
div {
	text-align: center;
	margin: 20px;
	margin-top:20px;
}
.ready{
	color: lightblue;
	font-size: 20px;
	margin-top:20px;
	text-align: center;
}
.game {
	color: lightblue;
	font-size:30px;
	font-family: "Gill Sans", sans-serif;
	margin-top:10px;
	text-align: center;

}
#start {
 	margin-top: 20px;
 	background-color: pink;
 	color: blue;
}

img {
	width: 30%;
	text-align:center;
}
#quiz {
	color: lightblue;
	margin: 30px
	font-size: 30px;
	text-align: center;

}
#result{
	background-color:lightblue;
	color: black;
	margin: 50px;
	font-size:50px;
	text-align: center;
}
